
<h1>
  <%= @room.id %>
</h1>

<div>
  <%= link_to 'Leave Room', add_stage_name("/rooms/leave") %>
</div>

<h2> Zequence (Chain game) </h2>
<p> Create a new game in this room - everyone with access to this room will be able to join.</p>
<form action=<%= add_stage_name(games_path) %> method="post">
  <input type="submit" value="Start a game">
  <input type="hidden" id="game_room" name="game[room]" value=<%= "#{@room.id}" %> />
</form>
<h3>Joinable Games</h3>
<ul>
  <% @chain_games_joinable.each do |game| %>
    <li><%= link_to 'Join', add_stage_name("/games/#{game.id}/play") %> Players: [<%= game.data['players'].join(', ') %>] (Created: <%=  game.updated_at %>).</li>
  <%end %>
</ul>
<h3>In Progress/Completed games</h3>
<ul>
  <% @chain_games_other.each do |game| %>
    <li>State: <%= game.data['state'] %>. Players: <%= game.data['players'].join(', ') %></li>
  <%end %>
</ul>

<h2>Ziddler</h2>
TODO: Support coming in future update....


